@model IEnumerable<Lab5.Models.Learner>

@{
    ViewData["Title"] = "Learner List";
}

<div class="container-fluid">
    <h1>Learner List</h1>
    <div class="my-3">
        <strong>Lọc theo chuyên ngành:</strong>
        @await Component.InvokeAsync("Major")
    </div>

    <a href="#" class="btn btn-primary">Create New Student</a>
</div>
<div id="content">
    <partial name="LearnerTable" model="Model"/>
</div>

@section Scripts {
    <script>
        $("li").click(function (e) {
            var id = $(this).attr("id");

            $.ajax({
                url: "/Learner/LearnerByMajorID",
                data: {mid: id},
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
    </script>
}